<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for ordering! <%= @user.name %></h1>
    <h3>Order number: <%= @order.id %></h3>
    <p>
    </p>
    <p>
      Yep. This works.
    </p>
    <p>Thanks for ordering and have a great day!</p>
  </body>
</html>